<p id="notice"><%= notice %></p>

<h1>Posts</h1><br>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  Published <%=time_ago_in_words(@post.created_at)%> ago<br>
  <strong>By:</strong>
  <%= @post.user.full_name %>
</p>

<p>
  Written for <strong><%= link_to @post.category.name, @post.category %></strong> Category

</p>

<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit', edit_post_path(@post) %> <br>
<%= link_to 'Back', posts_path %>
